@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Staatliches&display=swap");
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: 'Staatliches', sans-serif;
    --font-text: 'Chivo', sans-serif;
} 

html,
body {
    @apply max-w-full overflow-x-hidden;
}

main {
    @apply overflow-x-hidden;
}

@media (min-width: 1200px) {
    .hero-bg-shift {
        background-position: center 28%;
    }
}
    
.hero-bg-shift {
    object-position: center center;
}

@media (min-width: 1200px) {
    .hero-bg-shift {
        object-position: center 28%;
    }
}

/* Table: */

.table {
    @apply w-full table-auto grow border-collapse text-sm p-4;
}

.td-cell {
    @apply border-b border-gray-300 p-2 pl-2 sm:p-4 sm:pl-8 text-left text-gray-700;
}

.th-col {
    @apply border-b border-gray-400 p-2 pl-2 sm:p-4 sm:pl-8 text-left font-semibold text-gray-900;
}

.tr-row {
    @apply border-b border-gray-200 text-left font-medium text-gray-700 hover:bg-gray-50;
}

/* Pagination: */

/* text */
.pagination-white :is(a, span) {
    color: #1e293b!important;
}

/* arrows */
.pagination-white svg {
    color: #1e293b; 
    fill: currentColor !important;
}

/* bg color */
.pagination-white .bg-white {
    background-color: transparent !important;
}
.pagination-white .bg-gray-200 {
    background-color: #dbdbdb !important; /* desktop currently selected */
    border-color: 1px solid #1e293b !important; /* desktop currently selected border */
}

/* mobile currect selected text color, desktop general text color */
.pagination-white .text-gray-700,
.pagination-white .text-gray-600,
.pagination-white .text-gray-500 {
    color: #606060 !important; 
}

/* Price slider: */
input[type="range"] {
    accent-color: #475569;
}
